*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/

# IDE files
.classpath
*.class
.idea
.project
.settings
/*.launch
/*.tmproj
/*.log
/*.zip
*.iml
/out/
/target/
/plugin.xml
localconfig.groovy
web-app/libs

